{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "Database": {
    "Host": "localhost",
    "Port": 5432,
    "Database": "lockgo",
    "Username": "lockgo",
    "Password": "CHANGE_ME",
    "MaximumPoolSize": 10,
    "SslMode": "Require"
  }
}
